  h1 {
         text-align: center;
            font-family: impact;
            color: rgb(10, 154, 106);
            border: 1px solid rgb(10, 154, 106);
            margin: 0;
        }
        h2 {
            text-align: center;
            font-family: impact;
            color: rgb(0, 61, 61);
        }
        img {
            display: block;
            margin: 0 auto;
            border-radius: 10px;
        }
        button {
            display: block;
            margin: 0 auto;
            padding: 20px;
            color: rgb(10, 154, 106);
            background-color: transparent;
            border: 1px solid rgb(10, 154, 106);
            border-radius: 20px;
        }
        button:hover {
        cursor: pointer;
        color: rgb(8, 65, 91);
        background-color: rgb(10, 154, 106);
        }
        p {
            line-height: 1.5;
            font-size: 18px;
            text-align: justify;
            color:rgba(1, 32, 32, 0.793) ;
            font-family: Arial, Helvetica, sans-serif ;
            font-weight: 200;
        }
        body {
           background: linear-gradient(114.3deg, rgb(19, 126, 57) 0.2%, rgb(8, 65, 91) 68.5%);
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 60px;
        }
        .link {
            color: rgba(10, 154, 106, 0.39);
            font-size: 14px;
            text-decoration: none;
        }
        .link:hover {
            cursor: pointer;
            text-decoration: underline;
        }